.form-4 .Button {
  margin-left: 85%;
  margin-top: 48%;
}

.form-4 {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.form-4 .form-v {
  background-color: #ffffff;
  height: 982px;
  position: relative;
  width: 1512px;
}

.form-4 .overlap {
  background-color: #ffffff;
  height: 124px;
  left: 0;
  position: absolute;
  top: -13px;
  width: 1512px;
}

.form-4 .image {
  height: 76px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 37px;
  width: 1512px;
}

.form-4 .form-title {
  color: #303030;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-size: 36px;
  font-weight: 600;
  height: 44px;
  left: 130px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 166px;
}

.form-4 .form-title-secondary {
  color: #303030;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-size: 28px;
  font-weight: 600;
  height: 44px;
  left: 130px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 235px;
}

.form-4 .form-text {
  color: #303030;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-size: 24px;
  font-weight: 400;
  height: 44px;
  left: 130px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 297px;
  width: 1256px;
}

.form-4 input::placeholder {
  color: #595959;
  font-family: "Montserrat-Medium", Helvetica;
  font-size: 1.5em;
  font-weight: 500;
  left: 27px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 23px;
  width: 491px;
}

/* .form-4 .text-input {
        border: 2px solid;
        border-color: #ededed;
        height: 77px;
        left: 669px;
        position: absolute;
        top: 236px;
        width: 716px;
      }   */

.form-4 .last-name {
  border: 2px solid;
  border-color: #ededed;
  height: 7.9%;
  left: 46.1%;
  position: absolute;
  top: 24%;
  width: 45.5%;
  font-size: 1em;
}

.form-4 .firstName {
  height: 10%;
  left: 8.5%;
  position: absolute;
  top: 24%;
  width: 46%;
}

/* .form-4 .div {
        color: #595959;
        font-family: "Montserrat-Medium", Helvetica;
        font-size: 24px;
        font-weight: 500;
        left: 27px;
        letter-spacing: 0;
        line-height: normal;
        position: absolute;
        top: 23px;
        width: 491px;
      } */

.form-4 input {
  border: 2px solid;
  border-color: #ededed;
  height: 77px;
  left: 0;
  position: absolute;
  top: 0;
  padding-left: 2%;
}

.form-4 .half-width {
  width: 77%;
  font-size: 1em;
  padding-left: 2%;
}

.form-4 .full-width {
  /* height: 10%; */
  /* left: 8.5%; */
  margin: auto;
  position: absolute;
  top: 38%;
  width: 90%;
  font-size: 1em;

  /* border: 2px solid;
        border-color: #ededed; */
}

/* .form-4 .rectangle-2 {
        border: 2px solid;
        border-color: #ededed;
        height: 77px;
        left: 0;
        position: absolute;
        top: 0;
        width: 1259px;
      } */

.form-4 .address {
  height: 5%;
  top: 46%;
  left: 8.5%;
  position: absolute;
  width: 92.5%;
}

.address label {
  color: #595959;
  font-family: "Montserrat-Medium", Helvetica;
  font-size: 1.5em;
  font-weight: 500;
  left: 27px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 23px;
  width: 491px;
}
.form-4 .organization {
  height: 5%;
  top: 36%;
  left: 8.5%;
  position: absolute;
  width: 92.5%;
}

.form-4 .email {
  height: 5%;
  top: 58%;
  left: 8.5%;
  position: absolute;
  width: 88.5%;
}

.form-4 .email-width {
  border: 2px solid;
  border-color: #ededed;
  height: 160%;
  left: 0;
  position: absolute;
  top: 0;
  width: 44.5%;
  font-size: 1em;
}

.form-4 .cell-number {
  height: 5%;
  top: 58%;
  left: 50.7%;
  position: absolute;
  width: 92.5%;
}

.form-4 .cell-width {
  border: 2px solid;
  border-color: #ededed;
  height: 160%;
  position: absolute;
  width: 44.5%;
  font-size: 1em;
}

.form-4 .Qualifications {
  height: 5%;
  top: 63%;
  left: 8.5%;
  position: absolute;
  width: 92.5%;
}

.form-4 .Next-button {
  height: 72px;
  left: 80%;
  position: absolute;
  top: 85%;
  width: 176px;
}

.form-4 .overlap-group .Next {
  background-color: #d54141;
  border-radius: 15px;
  height: 72px;
  position: relative;
  width: 174px;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-size: 24px;
  font-weight: 600;
}

.form-4 .div-wrapper {
  background-color: fffff;
  border: 3px solid;
  border-color: #9b9b9b;
  border-radius: 15px;
  height: 72px;
  position: relative;
  width: 174px;
}

.form-4 .text-wrapper-2 {
  color: #ffffff;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-size: 24px;
  font-weight: 600;
  height: 20px;
  left: 20px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 26px;
  white-space: nowrap;
  width: 135px;
}

.form-4 .Cancel-button {
  height: 72px;
  left: 5%;
  position: absolute;
  top: 85%;
  width: 176px;
}

.form-4 .overlap-6 {
  background-color: #ffffff;
  border: 3px solid;
  border-color: #9b9b9b;
  border-radius: 15px;
  height: 72px;
  position: relative;
  width: 174px;
}

.form-4 .cancel-text {
  color: #9b9b9b;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-size: 24px;
  font-weight: 600;
  height: 20px;
  left: 17px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 23px;
  white-space: nowrap;
  width: 135px;
}

.form-4 .page-no {
  color: #595959;
  font-family: "Montserrat-Medium", Helvetica;
  font-size: 24px;
  font-weight: 500;
  height: 29px;
  left: 40%;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 87%;
  width: 251px;
}
