/* temp solution for stopping the weird horizontal scrolling */
body {
  /* overflow-x: hidden; */
  /* margin-top: 74px; */

}

/* NavigationBar {
  position: fixed;
} */

.locations h5 {
  margin: 0;
}

.locations .subtitle {
  padding-bottom: 0;
  margin-bottom: 0;
}

.locations img {
  width: 35%;
  height: auto;
}

.locations .two-columns:first-child {
  border-right: none;
}

.flow-requests {
  background-color: saddlebrown;
  /* height: 100px; */
}

.flow-requests .section-container {
  background-color: rgb(247, 247, 247);
  /* padding: auto; */
  padding-bottom: 0;
  /* background-color: blueviolet; */
}

.flow-requests .layout-column {
  /* background-color: blueviolet; */
  flex-wrap: wrap;
}

/* .four-columns {
    padding: 10px;
    margin: 5px;
    flex: 22%;
    background-color: blueviolet;
  } */

.flow-requests table {
  /* background-color: aqua; */
  margin: auto;
}

.active-requests td {
  /* background-color: saddlebrown; */
  width: 6.5em;
}

.current-flows tr, .active-requests tr {
  height: 3.5em;  
}

.current-flows td {
  width: 10em;
}

.two-columns:first-child {
  /* background-color: chartreuse; */
  border-right: 2px solid rgb(146, 146, 146);
}

