/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.form .Button {
  margin-left: 85%;
  margin-top: 48%;
  }

.form {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .form .form-sub  {
    background-color: #ffffff;
    height: 100%;
    position: fixed;
    width: 100%;
  }
  
  .form .Nav {
    background-color: #ffffff;
    height: 17%;
    position: absolute;
    top: -2%;
    width: 100%;
  }
  
  .form .image {
    height: 46px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 37px;
    width: 128px;
  }
  
  .form .notice {
    color: #303030;
    margin-top: 0.25%;
    font-family: "Montserrat", Helvetica;
    font-size: 2.5em;
    font-weight: 600;
    height: 0%;
    left: 5%;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 15%;
  }
  
  .main {
    color:#61dafb
  }
  
  
  .form .contact-about-form {
    color: #1e1e1e;
    font-family: "Montserrat", Helvetica;
    font-size: 1.25em;
    font-weight: 400;
    left: 5%;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 20%;
    width: 87%;
  }
  
  .form .Next-button {
    height: 72px;
    left: 80%;
    position: absolute;
    top: 85%;
    width: 176px;
  }
  
  .form .overlap-group .Next {
    background-color: #d54141;
    border-radius: 15px;
    height: 72px;
    position: relative;
    width: 174px;
    font-family: "Montserrat-SemiBold", Helvetica;
    font-size: 24px;
    font-weight: 600;
  }
  
  /* .form .Next {
    font-family: "Montserrat-SemiBold", Helvetica;
    font-size: 24px;
    font-weight: 600;
    height: 100px;
    left: 20px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 26px;
    white-space: nowrap;
    width: 135px;
  } */
  
  .form .Cancel-button {
    height: 72px;
    left: 5%;
    position: absolute;
    top: 85%;
    width: 176px;
  }
  
  .form .div-wrapper {
    background-color: fffff;
    border: 3px solid;
    border-color: #9b9b9b;
    border-radius: 15px;
    height: 72px;
    position: relative;
    width: 174px;
  }
  
  .form .cancel-text {
    color: #9b9b9b;
    font-family: "Montserrat-SemiBold", Helvetica;
    font-size: 24px;
    font-weight: 600;
    height: 20px;
    left: 17px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 23px;
    white-space: nowrap;
    width: 135px;
  }
  
  .form .page-no {
    color: #595959;
    font-family: "Montserrat-Medium", Helvetica;
    font-size: 24px;
    font-weight: 500;
    height: 29px;
    left: 40%;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 87%;
    width: 251px;
  }
  
  