.footer {
  background-color: rgb(48, 48, 48);
  height: 100%;
  width: 100%;
  color: #ffffff;
  font-size: 12px;
}

.footer-content {
  padding-top: 2em;
}

.footer .footer_image {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 0;
}

.footer a {
  color: #ffffff;
  font-weight: 300;
  padding-right: 32px;
}

.footer_blocks {
  padding: 0 30%;
  padding-bottom: 2.5%;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

#footerLogo {
  width: 100px;
  height: auto;
}

.footer_blocks_links {
  display: flex;
  align-items: center;
  justify-content: center;
}