.form-bottom-buttons {
    /* display: flex;
      flex-direction: row; */
    justify-content: center;
    /* wrap: nowrap;
      align-items: center; */
    display: flex;
    flex-direction: row;
    width: inherit;
    /* background-color: brown; */
    position: absolute;
    bottom: 0;
    height: 25%;
  }
  
  .form-bottom-buttons .button-primary {
    /* background-color: blueviolet;    */
    position: absolute;
    right: 5%;

  }
  
  .form-bottom-buttons .button-secondary {
    /* background-color: blueviolet; */
    /* margin-left: 5%;
          margin-right: 10%; */
    position: absolute;
    left: 5%;
  }
  
  .form-bottom-buttons h4 {
    font-weight: 600;
    /* background-color: blue; */
    /* padding: 0 37.5%; */
    padding: 5% 0;
  }

      /*This doesnt work @Janelle - how do i make it come up */
  .form-bottom-buttons .page-no {
    height: 25%;

  } 


  
