.navigation {
  background-color: rgb(255, 255, 255);
  /* background-color: aqua; */
  height: 7.4%;
  display: flex;
  align-items: center; /* Center vertically */
  /* position: sticky; */
}

.navigation a {
  color: rgb(48, 48, 48);
  text-decoration: none;
  font-weight: 400;
  padding: 0 1em;
}

.navbar {
  /* background-color: rosybrown; */
  height: 7.4%;
  display: flex;
  align-items: center; /* Center vertically */
}

.navigation a:not(:first-child):hover {
  text-decoration: underline rgb(214, 66, 66);
}

.logo {
  height: 4.3em;
}
